################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.idea/.idea.BlockLimiter
/BlockLimiter/bin
/GameBinaries
/TorchBinaries
